/* upd3 	https://rakosel.github.io/WSB_side_loaded_css.css	*/	
	.noscroll { position: fixed; }

	.overlay { 
   		overflow-y: scroll;
/*top: 0; right: 0; bottom: 0; left: 0;overflow-y: scroll;overflow:hidden;display: none; */
