/* upd3b 	https://rakosel.github.io/WSB_side_loaded_css.css	*/	
	.navia
	{list-group-item list-group-item-action bg-light border}
	.noscroll { position: fixed; display: none;}

	.overlay { 
   		overflow-y: scroll;
/*top: 0; right: 0; bottom: 0; left: 0;overflow-y: scroll;overflow:hidden;display: none; */
